
.container>div
{
    margin-bottom: 40px;
}

.container img
{
    border-radius: 50%;
    transition: border-radius 1s;
}

.container img:hover{
    border-radius: 0;
}

.container
{
    height: 80%;
}

footer{
    position: fixed;
    bottom: 0;
    height: 10%;
    background-color: rgba(55,61,73,0.975);
    border-radius: 3%;
}
.footer-copyright
{
    margin-top: 6px;
}
.footer-company-name
{
    color: #ffffff;
    right: 10px;
}
@media (max-height:800px){
    footer { position: static; }
    header { padding-top:40px; }
}